<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'templates/dist/output.css' %}">
</head>
<body class="bg-black text-white font-poppins">
<nav
        class="w-full flex bg-indigo-600 fixed z-10 h-12 justify-center gap-60 items-center text-lg font-medium top-0 "
>
    <a href="{% url 'jobs:list_jobs' %}" >SEE ALL JOBS</a>
    <a href="{% url 'jobs:create_job' %}" >POST A JOB</a>
</nav>



{% block content %}
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{#<script>#}
{##}
{#    let tl = gsap.timeline({ defaults: { ease: "power4.inOut", duration: 1}});#}
{#    tl.to('#job-container', { opacity: 1,  duration: 1 })#}
{#</script>#}
</body>
</html>